<% if(messages.logout){ %>
    <div class="alert alert-success" role="alert">
        <%= messages.logout %>
    </div>
<% } %>
<% if(messages.login){ %>
    <div class="alert alert-success mt-2" role="alert">
        <%= messages.login %>
    </div>
<% } %>
<% if(messages.login_error){ %>
    <div class="alert alert-danger" role="alert">
        <%= messages.login_error %>
    </div>
<% } %>
<% if(messages.reg_success){ %>
    <div class="alert alert-success" role="alert">
        <%= messages.reg_success %>
    </div>
<% } %>
<% if(messages.reg_error){ %>
    <div class="alert alert-danger" role="alert">
        <%= messages.reg_error %>
    </div>
<% } %>
